rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    // Deny default
    match /{allPaths=**} {
      allow read, write: if false;
    }

    // Absence Evidence: Upload own, Read own/Staff
    match /absence/{userId}/{fileName} {
      allow write: if request.auth != null && request.auth.uid == userId && request.resource.size < 5 * 1024 * 1024; // 5MB limit
      allow read: if request.auth != null && (request.auth.uid == userId || request.auth.token.role == 'staff' || request.auth.token.role == 'admin');
    }
  }
}
